.favorites-card {
  flex-basis: 500px;
  row-gap: 20px !important;
  position: sticky;
  right: 20px;
  top: 20px;
}

.favorites-heading {
  font-weight: 600;
  font-size: 1.25rem;
}

.favorite-movies {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  row-gap: 14px;
}

.favorite-movie-title {
  font-weight: 600;
  text-align: left;
}

@media screen and (max-width: 978px) {
  .favorites-card {
    flex-basis: 0;
  }
}
