body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 10px;
  row-gap: 10px;
  cursor: pointer;
}

.circle {
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
}

.circle-selected {
  background-color: greenyellow;
}
